.wrap{width: 960px; float: right;}
.content{border: 1px solid #e6e6e6; min-height: 826px; margin-bottom: 20px; background-color: #fff;}
/*新闻开始*/
.title{width: 900px; margin: 0 auto; text-align: center; font-size: 20px; color: #333; padding: 37px 0 13px 0; border-bottom: 1px solid #e6e6e6;}
.title p{font-size: 14px; color: #888;line-height: 30px;}
.title p span{font-size: 14px; font-style: normal; min-width: 60px; display: inline-block;}
.summary{width: 860px; margin: 20px auto; padding: 20px; background-color: #f6f6f6;}
.summary span{color: #333; font-weight: bold; line-height: 26px;}
.article_detail{width: 900px; margin: 0 auto; margin-bottom: 20px;}
.article_detail p{text-align: justify; text-indent: 2em; line-height: 24px; margin-top: 20px;}
.article_detail p span{margin-left: 35px;}
/*新闻 end*/
.gallery li{float: left; margin: 15px 0 0 13px;}
.article_detail .gallery li img{width: 430px; height: 400px;}

/*文章类目*/
.news_column{width: 958px; height: 49px; background-color: #fafafa; border-bottom: 1px solid #e6e6e6;}
.news_column a{height: 47px; font-size: 16px; color: #333; display: block;}
.news_column li{display: inline-block; width: 120px; text-align: center; line-height: 42px;}
.news_column .active{height: 48px; background-color: #fff; color: #0047ab; border-top: 2px solid #0047ab; border-right: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; font-weight: bold;}
.news_column li:first-of-type .active{ border-left: none; }

/*文章类目 end*/
/*路径导航*/
.breadcrumb{width: 920px; padding: 12px 20px; background: url(/build/images/common/breadcrumb_icon.png) no-repeat left;}
.breadcrumb li{display: inline-block;}
.breadcrumb li a:hover{color: #ca2222; text-decoration: underline;}
.breadcrumb li+li:before{padding: 0 3px; content: ">";}
.breadcrumb .active{color: #0047ab;}
/*路径导航 end*/