<div class="wrap clear">
    <breadcrumb></breadcrumb>
    <!-- 内容开始 -->
    <div class="content">
        <!-- 文章类目 -->
        <ul class="news_column">
            <li><a href="javascript:;" class="active">市场中心</a></li>
        </ul>
        <!-- 文章类目 end -->
        <!-- 列表开始 -->
        <div class="article_list list_s">
            <div class="article_list list_s">
                <ul>
                    <li>
                        <a href="market_centre/page2.html" class="clear">
                            <div class="list_title fl"><i class="point"></i>列表页面</div>
                            <div class="list_time fr">2017/03/06</div>
                        </a>
                    </li>
                    <li>
                        <a href="market_centre/page2.html" class="clear">
                            <div class="list_title fl"><i class="point"></i>列表页面</div>
                            <div class="list_time fr">2017/03/06</div>
                        </a>
                    </li>
                    <li>
                        <a href="market_centre/page2.html" class="clear">
                            <div class="list_title fl"><i class="point"></i>列表页面</div>
                            <div class="list_time fr">2017/03/06</div>
                        </a>
                    </li>
                    <li>
                        <a href="market_centre/page2.html" class="clear">
                            <div class="list_title fl"><i class="point"></i>列表页面</div>
                            <div class="list_time fr">2017/03/06</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 内容结束 -->
</div>