<div class="wrap clear">
    <breadcrumb></breadcrumb>
    <!-- 内容开始 -->
    <div class="content">
        <!-- 文章类目 -->
        <ul class="news_column">
            <li><a href="javascript:;" class="active">正文</a></li>
        </ul>
        <!-- 文章类目 end -->
        <div class="title">开业大酬宾 来牛客享金股<br><p>拟稿：<span></span>审核：<span></span>发布：<span>2016/12/09</span></p></div>
        <!-- 新闻开始 -->
        <!-- <div class="summary"><span>摘要：</span></div> -->
        <div class="article_detail">
            <p>值公司业务转型的首月，为了有效促进公司的业务开展，确保打响第一炮，经市场中心分析讨论，并报公司决策层审批，决定推出“来牛客享金股”降价升级双重福利。</p>
            <p>本次活动的有效期为2016年12月12日00:00（周一）——12月31日24:00（周六）；共计20个自然日，面对的对象为牛客财经的所有新老客户。</p>
            <p>但凡在本月购买公司产品，均可以享受到大幅度的折扣优惠以及原本需要花费更多才能享受到的服务。</p>

        </div>

    </div>
    <!-- 内容结束 -->
</div>
