<div class="wrap clear">
    <breadcrumb></breadcrumb>
    <!-- 内容开始 -->
    <div class="content">
        <!-- 文章类目 -->
        <ul class="news_column">
            <li><a href="javascript:;" class="active">正文</a></li>
        </ul>
        <!-- 文章类目 end -->
        <div class="title">标题<br><p>拟稿：<span></span>审核：<span></span>发布：<span>2016/12/09</span></p></div>
        <!-- 新闻开始 -->
        <!-- <div class="summary"><span>摘要：</span></div> -->
        <div class="article_detail">
            <p>正文</p>
            <p>正文</p>
            <p>正文</p>
            <p></p>

        </div>

    </div>
    <!-- 内容结束 -->
</div>
