<div class="head_bg">
    <div class="head layout">
        <div class="leftBox">
            <a href="#">公司官网</a><span>|</span>
            <a href="#">CRM系统</a><span>|</span>
            <a href="#">邮件系统</a><span>|</span>
            <a href="#">会议系统</a><span>|</span>
            <a href="#">考勤系统</a><span>|</span>
            <a href="#">E-learning系统</a><span>|</span>
        </div>
        <div class="rightBox">
            <a id="logIn_ID" href="#">登录</a>
            <p>2017/03/15</p>
            <p class="weather"><span>晴</span>&nbsp;&nbsp;&nbsp;<span>5°/13°</span></p>
        </div>
        <div class="logIn_box_bg">
            <i class="iconTop"></i>
            <div class="logIn_box">
                <p class="top_title">login</p>
                <ul>
                    <li>账号：<input type="text"></li>
                    <li>密码：<input type="text"></li>
                    <li><a class="loginBtn db" href="#">登录</a></li>
                    <li><a class="forgetPW" href="#">忘记密码？</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>