<!-- 左侧导航栏 -->
<div class="main_left clear">
    <div class="logo_box">
        <img src="build/images/common/logo.png" alt="">
    </div>
    <!-- 各中心动态 -->
    <div class="section_news clear">
        <h4 class="section_title"><i class="icon"></i><span>各中心动态</span></h4>
        <ul class="section_list">
            <li *ngFor="let list of listName" ><a  routerLink="/listPage"  >{{list.name}}</a></li>
            <!--<a  *ngFor="let list of listName"  routerLink="/listPage" class="listPage" pageName = "">{{list.name}}</a>-->
            <!--<a  *ngFor="let list of listName"  routerLink="/listPage" class="listPage" pageName = "{{list.id}}"><li><i class="icon list1"></i><span>{{list.name}}</span></li></a>-->
        </ul>
    </div>

    <!-- 文件模板下载 -->
    <div class="download_file clear">
        <h4 class="download_title"><i class="icon"></i><span>文件模板下载</span></h4>
        <ul class="download_list">
            <a href="file_template/list_page_admini.html"><li>行政</li></a>
            <a href="file_template/list_page_personnel.html"><li>人事</li></a>
            <a href="#"><li>财务</li></a>
            <a href="#"><li>采购</li></a>
        </ul>
    </div>
    <!-- 钉钉二维码 -->
    <div class="erweima clear">
        <img src="build/images/common/dingding.jpg" alt="">
        <p>公司钉钉的二维码</p>
    </div>
</div>