<div class="main_right">
<div class="banner">
    <div class="myslides">
        <ks-swiper-container  [options]="example1SwipeOptions">
            <ks-swiper-slide *ngFor="let s of [1,2]">
                <img src="/app/images/banner{{s}}.jpg">
            </ks-swiper-slide>
        </ks-swiper-container>
        <a class="movePrev" (click)="movePrev()"></a>
        <a class="moveNext" (click)="moveNext()"></a>
    </div>

</div>
<div class="mainList_box1">
    <!-- 新闻公告 -->
    <div class="news fl">
        <div class="main_title ">
            <h3><i class="icon list1"></i><span>新闻公告</span></h3>
        </div>
        <ul>
            <li class=" no1 showChild">
                <h4><span>新闻动态</span><a href="news/list_xwdt.html">MORE></a></h4>
                <ol>
                    <li class="yellow"><a href="news/page_wjfb_3.html">列表一</a><span>2016/12/28</span></li>
                    <li><a href="news/page_wjfb_2.html">列表一</a><span>2016/12/12</span></li>
                    <li><a href="news/page_wjfb_1.html">列表一</a><span>2016/12/09</span></li>
                </ol>
            </li>
            <li class="no1 ">
                <h4><span>文件发布</span><a href="news/list_wjfb.html">MORE></a></h4>
                <ol>
                    <li class="yellow"><a >列表一</a><span>2017/02/06</span></li>
                    <li><a href="#">列表一</a><span>2017/02/06</span></li>
                    <li><a href="#">列表一</a><span>2017/01/20</span></li>
                </ol>
            </li>
            <li class="no1 ">
                <h4><span>最新通知</span><a href="news/list_zxtz.html">MORE></a></h4>
                <ol>
                    <li class="yellow"><a href="#">列表一</a><span>2016/12/09</span></li>
                    <li><a href="#">列表一</a><span>2016/12/09</span></li>
                </ol>
            </li>
        </ul>
    </div>
    <!-- 规章制度 -->
    <div class="system fl">
        <div class="main_title ">
            <h3><i class="icon list2"></i><span>规章制度</span></h3>
        </div>
        <div class="system_boxTop">
            <div class="system_boxList">
                <h4>行政<a href="RulesAndRegulations/administration_list_xwdt.html">MORE></a></h4>
                <ul>
                    <li><a href="#">印章管理制度</a></li>
                    <li><a href="#">档案管理制度</a></li>
                    <li><a href="#">快递管理办法</a></li>
                </ul>
            </div>
            <div class="system_boxList">
                <h4>财务<a href="#">MORE></a></h4>
                <ul>
                    <li><a href="#">待填</a></li>
                    <li><a href="#">待填</a></li>
                    <li><a href="#">待填</a></li>
                </ul>
            </div>
        </div>
        <div class="system_boxBottom">
            <div class="system_boxList">
                <h4>人事<a href="#">MORE></a></h4>
                <ul>
                    <li><a href="#">待填</a></li>
                    <li><a href="#">待填</a></li>
                    <li><a href="#">待填</a></li>
                </ul>
            </div>
            <div class="system_boxList">
                <h4>营销<a href="RulesAndRegulations/marketing_list_xwdt.html">MORE></a></h4>
                <ul>
                    <li><a href="#">营销中心竞聘主管的制度</a></li>
                    <li><a href="#">手机使用管理规定</a></li>
                    <li><a href="#">营销中心若干管理规定</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="mainList_box2">
    <!-- 培训园地 -->
    <div class="train ">
        <div class="main_title ">
            <h3><i class="icon list3"></i><span>培训园地</span></h3>
            <ul id="train_list">
                <li class="train_this_show">课程介绍</li>
                <li>课程安排</li>
            </ul>
        </div>
        <div class="train_main">
            <img src="/build/images/index/train.jpg" alt="">
            <div class="train_list_box fl">
                <ul class="train_show_list">
                    <li><a href="trainingPark/classintro_detail4.html">E-learning 在线培训系统</a><span>2017/03/16</span></li>
                    <li><a href="trainingPark/classintro_detail3.html">新员工入职培训课程</a><span>2017/03/16</span></li>
                    <li><a href="trainingPark/classintro_detail2.html">中高层管理人员课程</a><span>2017/03/16</span></li>
                    <li class="more"><a href="trainingPark/list_classintro.html">MORE></a></li>
                </ul>
                <ul>
                    <li><a href="downloads/traningPark/2017年新员工入职培训课程表.xlsx">2017年新员工入职培训课程表</a><span>2017/03/13</span></li>

                    <li class="more"><a href="trainingPark/list_classap.html">MORE></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 员工风采 -->
    <div class="staff">
        <div class="main_title ">
            <h3><i class="icon list4"></i><span>员工风采</span></h3>
            <ul id="staff_list">
                <li class="staff_this_show">日常工作</li>
                <li>拓展交流</li>
                <li>珍好时刻</li>
            </ul>
        </div>
        <div class="staff_main">
            <img src="/build/images/index/staff.jpg" alt="">
            <div class="staff_list_box fl">
                <ul class="staff_show_list">
                    <li><a href="#">待填</a></li>
                    <li><a href="#">待填</a></li>
                    <li><a href="#">待填</a></li>
                    <li class="more"><a href="#">MORE></a></li>
                </ul>
                <ul class="">
                    <li><a href="staff_tzjl.html">首次拓展</a></li>
                    <li><a href="staff_tzjl.html">第二次拓展</a></li>
                    <li class="more"><a href="staff_tzjl.html">MORE></a></li>
                </ul>
                <ul class="">
                    <li><a href="staff_zhsk.html">2017年“三八妇女节”活动</a></li>
                    <li><a href="staff_zhsk.html">2017年2月生日会</a></li>

                    <li class="more"><a href="staff_zhsk.html">MORE></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>