body{background:#eaeef5;color:#666;}
/*--main_right--*/
.main_right{width:980px;float:right;}
/*banner*/
.main_right .banner{width:980px;height:275px;  position: relative;}
.main_right .banner .moveNext,
.main_right .banner .movePrev{
    display: block;
    position: absolute;
    top:50%;
    z-index:100;
    right: 0;
    width:34px;
    margin-top: -32px;
    height:64px;
    border:none;
    background: url("/app/images/shstock_arrow.png") right center no-repeat;
}
.main_right .banner .movePrev{
    left:0;
    background: url("/app/images/shstock_arrow.png") left center no-repeat;
}
/*mainList_box1*/
.main_right .mainList_box1{height:355px;padding:20px 0 0 20px;}
.main_right .mainList_box1 .main_title{height:24px;line-height:24px;font-weight:normal;margin-bottom:10px;}
.main_right .mainList_box1 .main_title h3,.main_right .mainList_box2 .main_title h3{font-weight:normal;font-size:18px;}
.main_right .mainList_box1 .main_title h3 .icon,.main_right .mainList_box2 .main_title h3 .icon{width:23px;height:21px;float:left;background:url(/app/images/icon.png) no-repeat -4px -82px;}
.main_right .mainList_box1 .main_title h3 .list2{background-position:-4px -164px;width:24px;height:22px;}
.main_right .mainList_box1 .main_title h3 span,.main_right .mainList_box2 .main_title h3 span{display:inline-block;margin-left:10px;color:#0047ab;position:relative;top:-3px;}
.main_right .mainList_box1 .news{margin-right:20px;}


/*mainList_box2*/
.main_right .mainList_box2{height:200px;padding:20px 0 30px 20px;}
.main_right .mainList_box2 .main_title{height:29px;line-height:29px;font-weight:normal;margin-bottom:16px;}
.main_right .mainList_box2 .main_title h3{float:left;}
.main_right .mainList_box2 .main_title h3 .list3{background-position:0 -206px;width:31px;height:22px;}
.main_right .mainList_box2 .main_title h3 .list4{background-position:-2px -123px;width:27px;height:22px;}
.main_right .mainList_box2 .main_title ul{float:right;}
.main_right .mainList_box2 .main_title ul li{float:left;min-width:65px;font-size:14px;line-height:29px;text-align:center;background:#fff;height:29px;cursor:pointer;margin-left:10px;}
.main_right .mainList_box2 .main_title ul li.train_this_show,.main_right .mainList_box2 .main_title ul li.staff_this_show{background:#0047ab;color:#FFF;position:relative;}
.main_right .mainList_box2 .main_title ul li.train_this_show:after,.main_right .mainList_box2 .main_title ul li.staff_this_show:after{width:0;height:0;content:" ";position:absolute;left:50%;margin-left:-4px;bottom:-4px;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #0047ab;}
.main_right .mainList_box2 .train{width:500px;float:left;margin-right:20px;}
.main_right .mainList_box2 .train .train_main,.main_right .mainList_box2 .staff .staff_main{height:155px;background:#FFF;}
.main_right .mainList_box2 .train .train_main img,.main_right .mainList_box2 .staff .staff_main img{float:left; width: 180px; height: 155px; }
.main_right .mainList_box2 .train .train_main .train_list_box,.main_right .mainList_box2 .staff .staff_main .staff_list_box{padding:15px 20px 0;background:#FFF;height:140px;overflow:hidden;}
.main_right .mainList_box2 .train .train_list_box{width:280px;}
.main_right .mainList_box2 .staff .staff_main .staff_list_box{width:220px;}
.main_right .mainList_box2 .train .train_main ul{width:280px;float:left;display:none;}
.main_right .mainList_box2 .staff .staff_main ul{width:220px;display:none;float:left;}
.main_right .mainList_box2 .train .train_main ul li,.main_right .mainList_box2 .staff .staff_main ul li{font-size:14px;line-height:28px;color:#666;cursor:pointer;}
.main_right .mainList_box2 .train .train_main ul.train_show_list,.main_right .mainList_box2 .staff .staff_main ul.staff_show_list{display:block;}
.main_right .mainList_box2 .train .train_main ul li:hover,.main_right .mainList_box2 .staff .staff_main ul li:hover,.main_right .mainList_box2 .train .train_main ul li:hover a,.main_right .mainList_box2 .staff .staff_main ul li:hover a{color:#f08800;font-weight:bold;}
.main_right .mainList_box2 .train .train_main ul li span,.main_right .mainList_box2 .staff .staff_main ul li span{float:right;font-size:14px;}
.main_right .mainList_box2 .train .train_main ul li.more,.main_right .mainList_box2 .staff .staff_main ul li.more{font-size:12px;float:right;margin-top:15px;}
.main_right .mainList_box2 .train .train_main ul li.more:hover,.main_right .mainList_box2 .staff .staff_main ul li.more:hover,.main_right .mainList_box2 .train .train_main ul li.more:hover a,.main_right .mainList_box2 .staff .staff_main ul li.more:hover a{color:#666;font-weight:normal;}
.main_right .mainList_box2 .staff .staff_main{width:440px;height:155px;float:left;}