body{background:#eaeef5;color:#666;}
/*--main_right--*/
.main_right{width:980px;float:right;}
/*banner*/
.main_right .banner{width:980px;height:275px;}

/*mainList_box1*/
.main_right .mainList_box1{height:355px;padding:20px 0 0 20px;}
.main_right .mainList_box1 .main_title{height:24px;line-height:24px;font-weight:normal;margin-bottom:10px;}
.main_right .mainList_box1 .main_title h3,.main_right .mainList_box2 .main_title h3{font-weight:normal;font-size:18px;}
.main_right .mainList_box1 .main_title h3 .icon,.main_right .mainList_box2 .main_title h3 .icon{width:23px;height:21px;float:left;background:url(/build/images/common/icon.png) no-repeat -4px -82px;}
.main_right .mainList_box1 .main_title h3 .list2{background-position:-4px -164px;width:24px;height:22px;}
.main_right .mainList_box1 .main_title h3 span,.main_right .mainList_box2 .main_title h3 span{display:inline-block;margin-left:10px;color:#0047ab;position:relative;top:-3px;}
.main_right .mainList_box1 .news{margin-right:20px;}
.main_right .mainList_box1 .news ul{width:500px;height:300px;background:#fff;font-size:16px;}
.main_right .mainList_box1 .news ul li.no1{	/*padding-left: 20px;*/
    height:54px;line-height:54px;border-bottom:1px #eaeef5 solid;cursor:pointer;overflow:hidden;}
.animation{-webkit-animation-duration:0.5s;animation-duration:0.5s;}
.main_right .mainList_box1 .news ul li.hideChild{-webkit-animation-name:closeLi;animation-name:closeLi;}
@-webkit-keyframes closeLi{
    0%{height:189px;}
    100%{height:54px;}
}
@keyframes closeLi{
    0%{height:189px;}
    100%{height:54px;}
}
.main_right .mainList_box1 .news ul li.no1 h4{font-weight:normal;padding-left:20px;padding-right:20px;}
.main_right .mainList_box1 .news ul li.no1 h4 a{font-family:Arial;font-size:10px;float:right;color:#999999;}
.main_right .mainList_box1 .news ul li:last-child{border:none;}
.main_right .mainList_box1 .news ul li.showChild{height:189px;-webkit-animation-name:fadeInTop;animation-name:fadeInTop}
@-webkit-keyframes fadeInTop{
    0%{height:54px;}
    100%{height:189px;}
}
@keyframes fadeInTop{
    0%{height:54px;}
    100%{height:189px;}
}
.main_right .mainList_box1 .news ul li.showChild h4{border-left:3px #0047ab solid;padding-left:20px;color:#0047ab;border-bottom:1px #eaeef5 solid;}
.main_right .mainList_box1 .news ul li.no1 ol{padding-top:15px;}
.main_right .mainList_box1 .news ul li.no1 ol li{padding-left:20px;padding-right:20px;font-size:14px;line-height:34px;}
.main_right .mainList_box1 .news ul li.no1 ol li:hover,.main_right .mainList_box1 .news ul li.no1 ol li:hover a{color:#f08800;font-weight:bold;}
.main_right .mainList_box1 .news ul li.no1 ol li span{font-size:14px;float:right;}

/*system*/
.main_right .mainList_box1 .system .system_boxTop{height:145px;margin-bottom:10px;}
.main_right .mainList_box1 .system  .system_boxList{width:215px;height:145px;float:left;background:#FFF;margin-left:10px;}
.main_right .mainList_box1 .system  .system_boxList:first-child{margin-left:0;}
.main_right .mainList_box1 .system  .system_boxList h4{font-weight:normal;font-size:16px;height:40px;line-height:40px;padding:0 15px;border-bottom:1px #eaeef5 solid;}
.main_right .mainList_box1 .system  .system_boxList h4 a{float:right;font-size:10px;font-weight:normal;color:#999;}
.main_right .mainList_box1 .system  .system_boxList ul{padding:12px 0 0 17px;}
.main_right .mainList_box1 .system  .system_boxList ul li{line-height:26px;padding-left:15px;font-size:14px;background:url(/build/images/common/triangle_r.png) no-repeat left center;}
.main_right .mainList_box1 .system  .system_boxList ul li:hover{font-weight:bold;}
.main_right .mainList_box1 .system  .system_boxList ul li:hover a{color:#f08800;}

/*mainList_box2*/
.main_right .mainList_box2{height:200px;padding:20px 0 30px 20px;}
.main_right .mainList_box2 .main_title{height:29px;line-height:29px;font-weight:normal;margin-bottom:16px;}
.main_right .mainList_box2 .main_title h3{float:left;}
.main_right .mainList_box2 .main_title h3 .list3{background-position:0 -206px;width:31px;height:22px;}
.main_right .mainList_box2 .main_title h3 .list4{background-position:-2px -123px;width:27px;height:22px;}
.main_right .mainList_box2 .main_title ul{float:right;}
.main_right .mainList_box2 .main_title ul li{float:left;min-width:65px;font-size:14px;line-height:29px;text-align:center;background:#fff;height:29px;cursor:pointer;margin-left:10px;}
.main_right .mainList_box2 .main_title ul li.train_this_show,.main_right .mainList_box2 .main_title ul li.staff_this_show{background:#0047ab;color:#FFF;position:relative;}
.main_right .mainList_box2 .main_title ul li.train_this_show:after,.main_right .mainList_box2 .main_title ul li.staff_this_show:after{width:0;height:0;content:" ";position:absolute;left:50%;margin-left:-4px;bottom:-4px;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #0047ab;}
.main_right .mainList_box2 .train{width:500px;float:left;margin-right:20px;}
.main_right .mainList_box2 .train .train_main,.main_right .mainList_box2 .staff .staff_main{height:155px;background:#FFF;}
.main_right .mainList_box2 .train .train_main img,.main_right .mainList_box2 .staff .staff_main img{float:left;}
.main_right .mainList_box2 .train .train_main .train_list_box,.main_right .mainList_box2 .staff .staff_main .staff_list_box{padding:15px 20px 0;background:#FFF;height:155px;overflow:hidden;}
.main_right .mainList_box2 .train .train_list_box{width:280px;}
.main_right .mainList_box2 .staff .staff_main .staff_list_box{width:220px;}
.main_right .mainList_box2 .train .train_main ul{width:280px;float:left;display:none;}
.main_right .mainList_box2 .staff .staff_main ul{width:220px;display:none;float:left;}
.main_right .mainList_box2 .train .train_main ul li,.main_right .mainList_box2 .staff .staff_main ul li{font-size:14px;line-height:28px;color:#666;cursor:pointer;}
.main_right .mainList_box2 .train .train_main ul.train_show_list,.main_right .mainList_box2 .staff .staff_main ul.staff_show_list{display:block;}
.main_right .mainList_box2 .train .train_main ul li:hover,.main_right .mainList_box2 .staff .staff_main ul li:hover,.main_right .mainList_box2 .train .train_main ul li:hover a,.main_right .mainList_box2 .staff .staff_main ul li:hover a{color:#f08800;font-weight:bold;}
.main_right .mainList_box2 .train .train_main ul li span,.main_right .mainList_box2 .staff .staff_main ul li span{float:right;font-size:14px;}
.main_right .mainList_box2 .train .train_main ul li.more,.main_right .mainList_box2 .staff .staff_main ul li.more{font-size:12px;float:right;margin-top:15px;}
.main_right .mainList_box2 .train .train_main ul li.more:hover,.main_right .mainList_box2 .staff .staff_main ul li.more:hover,.main_right .mainList_box2 .train .train_main ul li.more:hover a,.main_right .mainList_box2 .staff .staff_main ul li.more:hover a{color:#666;font-weight:normal;}
.main_right .mainList_box2 .staff .staff_main{width:440px;height:155px;float:left;}