.wrap{width: 960px; float: right;}
.clear{
    overflow: hidden;
    clear: both;
}
.content{border: 1px solid #e6e6e6; min-height: 826px; margin-bottom: 20px; background-color: #fff;}
/*新闻开始*/
/*路径导航*/
.breadcrumb{width: 920px; padding: 12px 20px; background: url(/build/images/common/breadcrumb_icon.png) no-repeat left;}
.breadcrumb li{display: inline-block;}
.breadcrumb li a:hover{color: #ca2222; text-decoration: underline;}
.breadcrumb li+li:before{padding: 0 3px; content: ">";}
.breadcrumb .active{color: #0047ab;}
/*路径导航 end*/
/*left text*/
.content .leftBox{
    width: 250px;
    float: left;
    margin: 20px 20px 0;
}
.content  h4.topTitle{
    margin-bottom:10px;
}
.content .leftBox textarea{
    width:100%;
    height:600px;
}
/*rightBox top*/
.rightBox{
    width: 660px;
    float: right;
    margin-top:20px;
}
.rightBox .topSelcet{
    width: 100%;
    overflow: hidden;
    clear: both;
}
.rightBox .topSelcet ul li{
    float: left;
    margin-left: 10px;
}
.rightBox .topSelcet ul li p{

    margin-bottom:8px;
}
.rightBox .topSelcet p input[type=number]{
    height:30px;
    width: 72px;
    padding-left:8px;
    border:1px #ccc solid;
    border-radius: 2px;
}
.rightBox .topSelcet p input[type=color]{
    height:21px;
    width: 30px;
    padding-left:8px;
    border:1px #ccc solid;
    border-radius: 2px;
}
.rightBox .topSelcet ul li.color p input[type=text]{
    height:23px;
    width: 100px;
    padding-left:8px;
    border:1px #ccc solid;
    border-radius: 2px;
    font-size: 16px;
    vertical-align: -2px;
    margin-left:8px;
}
.htmlBox{
    width: 450px;
    min-height: 300px;
    background: #f2f2f2;
    float: left;
    margin: 20px ;
    margin-right:0;
}
.cssBox{
    width: 450px;
    min-height: 300px;
    background: #f2f2f2;
    float: right;
    margin:20px 20px 20px 0;
}
table{
    border-collapse:collapse;
}
.codeBox td{
    border:1px #ccc solid;
    text-align: center;
}