<div class="system_boxTop">
    <div class="system_boxList">
        <bar-chart-demo></bar-chart-demo>
    </div>
    <div class="system_boxList">
        <h4>财务<a href="#">MORE></a></h4>
        <ul>
            <li><a href="#">待填</a></li>
            <li><a href="#">待填</a></li>
            <li><a href="#">待填</a></li>
        </ul>
    </div>
</div>
<div class="system_boxBottom">
    <div class="system_boxList">
        <h4>人事<a href="#">MORE></a></h4>
        <ul>
            <li><a href="#">待填</a></li>
            <li><a href="#">待填</a></li>
            <li><a href="#">待填</a></li>
        </ul>
    </div>
    <div class="system_boxList">
        <h4>营销<a href="RulesAndRegulations/marketing_list_xwdt.html">MORE></a></h4>
        <ul>
            <li><a href="#">营销中心竞聘主管的制度</a></li>
            <li><a href="#">手机使用管理规定</a></li>
            <li><a href="#">营销中心若干管理规定</a></li>
        </ul>
    </div>
</div>